<div class="center finder">
  <h1> Find GitHub User </h1>
  <div class="pseudo-search">
    <input type="text" id="usernane" name="username" [(ngModel)]="findGitHubUser.username">
    <i class="fab fa-github"></i>
    <button (click)="getUserGitHub()">
      <i class="fa fa-search"></i>
    </button>
  </div>
  
  <div class="card">
    <div *ngIf="!isData">
      <div class="center" *ngIf="loadin">loading...</div>
      <div class="center" *ngIf="!loadin">No hay usuarios que cumplan con el criterio de búsqueda</div>
    </div>
    <div class="additional" *ngIf="isData">
      <div class="user-card">
        <img [src]="findGitHubUser.avatar_url"
          class="center round">
        <div class="center level">
          {{findGitHubUser.login}}
        </div>
        <div class="center points">
          {{findGitHubUser.created_at}}
        </div>
      </div>
      <div class="more-info">
        <h1>{{findGitHubUser.name}}</h1>
        <div class="coords">
          <span>
            <i class="fas fa-map-marker-alt"></i>
            {{findGitHubUser.location}}
          </span>
          <span>
            <i class="fab fa-twitter"></i>
            @{{findGitHubUser.twitter_username}}
          </span>
          <span>
            <a href="" class="center coords">
              <i class="fas fa-blog"></i> {{findGitHubUser.blog}}
            </a>
          </span>
        </div>
        <div class="stats">
          <div>
            <div class="title">REPOS</div>
            <i class="fas fa-code-branch"></i>
            <div class="value">{{findGitHubUser.public_repos}}</div>
          </div>
          <div>
            <div class="title">FOLLOWERS</div>
            <i class="fa fa-users"></i>
            <div class="value">{{findGitHubUser.followers}}</div>
          </div>
          <div>
            <div class="title">FOLLOWING</div>
            <i class="fa fa-user-friends"></i>
            <div class="value">{{findGitHubUser.following}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>